

 /*
 .yui-skin-sam .yui-dt-body { cursor:pointer; }
 #single { margin-top:2em; }

 .yui-skin-sam tr.yui-dt-odd,
 .yui-skin-sam tr.yui-dt-odd td.yui-dt-asc,
 .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc,
 .yui-skin-sam tr.yui-dt-even td.yui-dt-asc,
 .yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
 background-color: #fff;
 }
 .yui-skin-sam .yui-dt tbody td {
 border-bottom: 1px solid #ddd;
 }
 .yui-skin-sam .yui-dt thead th {
 border-bottom: 1px solid #7f7f7f;
 }
 .yui-skin-sam .yui-dt tr.yui-dt-last td,
 .yui-skin-sam .yui-dt th,
 .yui-skin-sam .yui-dt td {
 border: none;
 }

 .yui-skin-sam .yui-dt tr.mark,
 .yui-skin-sam .yui-dt tr.mark td.yui-dt-asc,
 .yui-skin-sam .yui-dt tr.mark td.yui-dt-desc,
 .yui-skin-sam .yui-dt tr.mark td.yui-dt-asc,
 .yui-skin-sam .yui-dt tr.mark td.yui-dt-desc {
 background-color: #a33;
 color: #fff;
 }
 **/
.yui-skin-sam .yui-dt tr.mark,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-asc,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-desc,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-asc,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-desc{
      background-color: #ECD7F2;
      color: #3D3D3D;
}