@import url("calendar.css");


/* common styling */
.menu {
    font-family: Arial, Helvetica, sans-serif;
    width:85%;
    position:relative;
    margin:0;
    font-size:15px;
    margin:0px auto;
    padding-left: 140px;
    height: 25px;
    float:left;
}
.menu ul li a, .menu ul li a:visited {
    display:block;
    text-decoration:none;
    width:104px;
    height:23px;
    text-align:center;
    color:#fff;
    border:1px solid #8aa0f6;
    background-color: #1369e5;
    line-height:25px;
    font-size:12px;
    overflow:hidden;
}
.menu ul {
    padding:0;
    margin:0;
    list-style-type: none;
}
.menu ul li {
    float:left;
    margin-right:1px;
    position:relative;
}
.menu ul li ul {
    display: none;
}

/* specific to non IE browsers */
.menu ul li:hover a {
    color:#fff;
    background-color: #b3c4f3;
}
.menu ul li:hover ul {
    display:block;
    position:absolute;
    top:21px;
    left:0;
    width:105px;
}
.menu ul li:hover ul li a.hide {
    background:#6a3;
    color:#fff;
}
.menu ul li:hover ul li:hover a.hide {
    background:#6fc;
    color:#000;
}
.menu ul li:hover ul li ul {
    display: none;
}
.menu ul li:hover ul li a {
    display:block;
    background:#ddd;
    color:#000;
}
.menu ul li:hover ul li a:hover {
    background:#6fc;
    color:#000;
}
.menu ul li:hover ul li:hover ul {
    display:block;
    position:absolute;
    left:105px;
    top:0;
}
.menu ul li:hover ul li:hover ul.left {
    left:-105px;
}


#taskbox{
    width: 130px;
    float: left;
    display: inline;
    clear:both;
}

/* common styling */
.task {
    font-family: Arial, Helvetica, sans-serif;
    /*    width:100%;*/
    position:relative;
    font-size:15px;
    margin:0px auto;

    height: 25px;
    float:left;

}
.task ul li a, .task ul li a:visited {
    display:block;
    text-decoration:none;
    width:104px;
    height:23px;
    text-align:center;
    color:#fff;
    border:1px solid #8aa0f6;
    background-color: #1369e5;
    line-height:25px;
    font-size:12px;
    overflow:hidden;
}
.task ul {
    padding:0;
    margin:0;
    list-style-type: none;
}
.task ul li {
    float:left;
    margin-right:1px;
    position:relative;
}
.task ul li ul {
    display: none;
}

/* specific to non IE browsers */
.task ul li:hover a {
    color:#fff;
    background-color: #b3c4f3;
}
.task ul li:hover ul {
    display:block;
    position:absolute;
    top:21px;
    left:0;
    width:105px;
}
.task ul li:hover ul li a.hide {
    background:#6a3;
    color:#fff;
}
.task ul li:hover ul li:hover a.hide {
    background:#6fc;
    color:#000;
}
.task ul li:hover ul li ul {
    display: none;
}
.task ul li:hover ul li a {
    display:block;
    background:#ddd;
    color:#000;
}
.task ul li:hover ul li a:hover {
    background:#6fc;
    color:#000;
}
.task ul li:hover ul li:hover ul {
    display:block;
    position:absolute;
    left:105px;
    top:0;
}
.task ul li:hover ul li:hover ul.left {
    left:-105px;
}


.message{

    padding-left: 10%;
}

/*body{
    background-color: #efefef;
}*/
#footerDiv {
    float: left;
    height: 25px;
    width: 99%;
    background-color: #E9EEF6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #DAD7CB;
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    clear:both;
}

#footer{
    /*    padding-top: 30%;*/
}
#header{
    margin-top: 3px;
    float: right;
    clear:both;
}
/*#topLeft{
    background-image: url(../../common/images/logo.png);
    background-repeat: no-repeat;
}
#topRight{
    width: 60%;
    float: right;
}*/
#content{

    margin: 0px;
    float: right;
    height: auto;
    /*    width: 90%;*/
}

.form_content {

    background-repeat: no-repeat;
    background-position: 1px;
    margin: 0px;
    float: left;
    width: 100%;
    /*    height: 85%;*/
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    padding: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-top-color: #A8B6BF;
    border-right-color: #A8B6BF;
    border-bottom-color: #A8B6BF;
    border-left-color: #A8B6BF;
    font-size: 12px;
    color: #FF6D05;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
}
.conditionsDiv{
    width: 100%;
    color: #454545;
    padding: 1px;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    float: left;
    text-align: left;
}

.conditionDiv {
    color: #595959;
    /*    width: 48%;*/
    float: left;
    height: auto;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #DFDFDF;
    margin: 0px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 1%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}
.conditionDiv label[class="displayLabel"] {
    float: left;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 24px;
    padding: 1px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-weight: bold;
    color: #475663;
    text-align: right;
}

.conditionDiv input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    height: 20px;
    border: 1px groove #CCC;
    background-color: #FAFCFD;
    padding: 0px;
    margin: 0px;
    width: 150px;
    line-height: 20px;
    font-weight: lighter;
    color: #333;
}

input[readonly="readonly"]{
    background-color: #efefef;
}

.conditionDiv input[readonly="readonly"]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    text-decoration: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}
.requriedDiv{

    color: #f10a0a;
    width: 10px;

}

.conditionFileDiv {
    color: #595959;
    width: 100%;
    float: left;
    height: auto;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #DFDFDF;
    margin: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.conditionFileDiv input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    height: 22px;
    border: 1px groove #CCC;
    background-color: #FAFCFD;
    padding: 0px;
    margin: 0px;
    line-height: 22px;
    font-weight: lighter;
    color: #333;
    width: auto;
}

.conditionDiv select {

    border: 1px solid;
    white-space: pre;
    color: black;
    background-color: white;
    cursor: default;
    width: 150px;
}

.conditionFileDiv a{

    color: #fa0505;
    text-decoration: underline;
}

.actionDiv {
    color: #595959;
    width: 85%;
    /*    height: auto;*/
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: #DFDFDF;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    /*    padding-left: 3%;*/
    text-align: center;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    margin: 0px;
    float: left;

}

.actionDiv input{
    margin: 0px;
    height: 35px;
    width: 100px;
    background-image: url(../images/vmi_button_l.jpg);
    background-repeat: repeat-x;
    background-position: 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #04110a;
    font-size: 12px;
    font-weight: bold;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    text-align: center;
    vertical-align: bottom;
    padding: 0px;
    background-color: #efefef;
    font-variant: normal;
}


.headerTableDiv {
    float: left;
    width: 100%;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}
.tableContentDiv{
    overflow: auto;
}
.contentTableDiv{
    margin: 0px;
    float: left;
    width: 100%;
    /*    height: 80%;*/
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    /*    overflow: auto;*/
}
.headerTableDiv input[class="buttonDiv"] {
    margin: 0px;
    height: 20px;
    width: auto;
    background-image: url(../images/vmi_btnmain_b.gif);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #FF954B;
    font-size: 12px;
    font-weight: lighter;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    float: left;
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    text-align: center;
    vertical-align: middle;
}

.inputTableHeader{

    /*    border-collapse: separate;*/
    border-spacing: 0px;
    border: 1px solid #D0D0D0;
}
.tableButton{
    margin: 0px;
    height: 20px;
    width: auto;
    background-image: url(../images/vmi_btnmain_b.gif);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #FF954B;
    font-size: 13px;
    font-weight: lighter;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    /*    float: left;*/
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    text-align: center;
    vertical-align: middle;
}

.tableTh {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-weight: bold;
    font-style: normal;
    background-color: #8aa0f6;
    text-align: center;
    /*    width: 100%;*/
}
.tableTh td{
    width: 150px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #D0D0D0;
    border-left-color: #D0D0D0;
}
.tableTh td input[id="selectAll"]{
    width: 12px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
}
.tableTh td[id="checkTd"]{
    width: 12px;
}


.inputTableContent{

    border-spacing: 0px;
    border: 1px solid #D0D0D0;
}

.inputTableContent tr td[id="checkTd"] {
    width: 12px;
}

.inputTableContent tr td{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #D0D0D0;
    border-left-color: #D0D0D0;
    width: 150px;
}

.tableInputElement{
    width: 105px;
    margin: 0px;
    padding: 0px;
}
.inputTableContent tr td input[id="selectInput"]{
    width: 12px;
    /*    margin: 4px;*/
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
}
/*.inputTableContent tr td input{
    width: 105px;
    margin: 0px;
    padding: 0px;
}*/
.inputTableContent tr[class="oldTr"]{

    background-color: #f3f7fb;
}
.inputTableContent tr[class="oldTr"] td input[readonly="readonly"]{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    border: 0px;
    background-color: #f3f7fb;
    padding: 0px;
    width: 105px;
    margin: 0px;
    line-height: 20px;
}
.inputTableContent tr[class="newTr"] td input[readonly="readonly"]{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    width: 105px;
    border: 0px;
    background-color: #d0e1f4;
    padding: 0px;
    margin: 0px;
    line-height: 20px;
}
.inputTableContent tr[class="newTr"]{

    background-color: #d0e1f4;
}
.inputTableContent tr:hover{

    background-color: #9e9e9e;
}

.inputTableContent tr:hover td input[readonly="readonly"]{

    background-color: #d4cfcf;
}